@import "../../styles/pxrem/pxrem.scss";

.ProductList {
  width: 80%;
}

.ProductList__title {
  padding-left: rem(20);
}

.ProductList__items {
  display: flex;
  justify-content: space-between;
  margin-top: rem(50);
}