@import "../../styles/pxrem/pxrem.scss";

.CartList {
  min-width: rem(700);
  padding: rem(20);
  border-radius: rem(3);
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0 rem(2) rem(8) rgba(0,0,0,0.3);
}

.CartList .card-title {
  font-weight: 500;
  font-size: rem(20);
}

.CartList__price {
  font-weight: 500;
}

.CartList .links {
  display: flex;
  width: rem(120);
  justify-content: space-between;
}

.CartList .auth-alert span {
  font-size: rem(20);
}

.CartList .links a {
  display: block;
}