@import "../../styles/pxrem/pxrem.scss";

.ProductItem {
  box-sizing: border-box;
  padding: rem(20);
  border-radius: rem(3);
  border: 1px solid rgba(0,0,0,0.2);
  min-width: rem(250);
  background-color: #FFFAFA;
  box-shadow: 0 0 rem(8) rgba(0,0,0,0.3);
}